body {
    background-color: blue;
    font-family: Bai Jamjuree;
}
footer {
    background-color: black;
    color: white;
    bottom: 0;
    position:fixed;
    width: 100%;
    height: 2rem;
}
footer p {
    text-align: center;
    font-size: 0,6rem;
    margin-top: 0.5rem
}
.cartao {
    margin: 1rem 1rem;
    background-color: burlywood;
    height: 20rem;
    flex-grow:1;
    flex-basis: calc(33% - 6rem);
}
