body {
    background:url('bg-desktop.webp');
 }
footer {
    background-color: black;
    color: yellow;
    bottom: 0;
    position:fixed;
    width: 100%;
    height: 2rem;
}
footer p {
    text-align: center;
    font-size: 0,rem;
    margin-top: 0.5rem


boby {
    background-color: yellow;
    font-family: Bai Jamjureee;
}
.cartao {
    margin: 1rem 1rem;
    background-color: green;
    height: 20rem;
    flex-grow:1;
    flex-basis: calc(33% - 6rem);
}
}
.cartao_conteudo h3{
    background-color:tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    font-size: 1vw;
    color: var(--text-color);
    backface-visibility: hidden;
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta{
    backface-visibility: hidden;
    position:absolute;
    height:100%;
    width: 100%;
}
.cartao__conteudo__resposta{
    transform: rotateY(180deg)
}
.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
}