body {
    background-color: beige;
}
footer {
    background-color: black;
    color: white;
    bottom: 0;
    position:fixed;
    width: 100%;
}
footer p {
    text-align: center;
    font-size: 0,6rem;
}